<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <input type="passsword" placeholder="password" id="pass"  />
    <button onclick="showhide()"><i id="icon" class="fa fa-eye"></i></button>
    <input type="password" placeholder="confirm password" onkeyup="f(this.value)" />
    <p id="p1"></p>

</body>
<script>
    function showhide()
    {
        let p=document.getElementById("pass");
        let icon=document.getElementById("icon");
        if(p.type=="password")
        {
            p.type="text";
            icon.classList.add("fa-eye-slash");
            icon.classList.remove("fa-eye");
        }
        else{
            p.type="password";
            icon.classList.add("fa-eye");
            icon.classList.remove("fa-eye-slash");
        }
    }
    function f(cp)
    {
        let p=document.getElementById("pass").value;
        let para=document.getElementById("p1");
        if(p==cp)
        {
            para.innerHTML="password match";
            para.style.color="green";
        }
        else
        {
            para.innerHTML="password do not match";
            para.style.color="red";
        }
    }
</script>
    </html>