{%extends 'base.html'%}

{%block body%}
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
		<div class="row " id="bg">
			<div class="col-md-12 text-danger  p-5 ms-3">
				<a href="/index" class="text-decoration-none ">
					<h5 class="text-light ms-3 p-2 mt-3">Home</h5>
				</a>
				
				<h2 class="text-center">Reset Password</h2>
		
			</div>
		</div>
		<div class="col-md-12 mt-4 text-center">
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons text-center">
			<input type="submit" value="Send" class="btn btn-primary mt-2">
			<a href="{%url 'login' %}"  class="btn btn-primary mt-2">Cancel</a>
		</div>
		</div>
	</form>
	</div>
{%endblock%}